@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background: url() no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #000000;
}

.container {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(8, 252, 20, 0.3);
}

.login-box {
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #3a523c;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1em;
  outline: none;
  transition: background 0.3s;
}

.login-box input:focus {
  background: rgba(255, 255, 255, 0.2);
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #2b302d, #000000);
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #a3e3ff;
}
body{
    background-color: #6b00b6;
    background: linear-gradient(45deg, #000000, #0f2709);
}
